form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

h1 {
  font-weight: 300;
  color: blueviolet;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: violet;
}

#titulo {
  font-size: 24px;
  font-style: italic;
  color: springgreen;
  font-weight: 100;
}
