body {
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #f5f5f5;
}

.content {
  flex: 1;
  background-color: #fff;
}

input[type="checkbox"]:hover:after {
  background-color: #f5f5f5;
}

input[type="checkbox"]:checked:after {
  background-color: #f5f5f5;
  padding: 0 0 0 0;
}
